extends layout

block content
    .message-url-container.flex-center.flex-column.margin-left-right-small
            a(href=message.url).margin-top-bottom=message.title
            p.message-author.margin-top-bottom-small By Admin
            p.message-text.margin-top-bottom=message.text
            p.message-timestamp.margin-top-bottom-small=message.timestamp
    if commentList
        .comment-list-container.flex-center.flex-column.margin-top-bottom
            h1 Comments
            for comment in commentList
                .comment-container.margin-top-bottom
                    h1=comment.body
                    p By 
                        span.comment-name=comment.name
    else 
        h1.margin-top-bottom There are no comments...
    .form-container.flex-center.flex-column.margin-top-bottom 
        h1.margin-top-bottom-small Leave a comment
        form(method="POST" action="").flex-center.flex-column
            label(for="name").margin-top-bottom-small Name
            input.margin-top-bottom(name="name" type="text" placeholder="Name..." required="true")
            label(for="text").margin-top-bottom-small Comment 
            input.margin-top-bottom(name="comment" type="text" placeholder="Comment text...." required="true")
            button.btn.btn-wide.margin-top-bottom(type="submit") Submit
